<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ baseline_linux_index_title }}</title>
</head>
<body>
  <h1>{{ baseline_linux_index_title }}</h1>
  <p>{{ baseline_linux_index_message }}</p>
  <ul>
    <li>Host: {{ inventory_hostname }}</li>
    <li>Role: simple on-prem web app server</li>
    <li>Managed by: Ansible</li>
  </ul>
</body>
</html>